//------------------------------\\
      // VARIABLES - ICONS \\
//------------------------------//

/*
 * Variables for project icons.
 */

// Path of icons (dist)
icomoon-font-path ?= '../fonts/icons/'

// Icons
icon-github = "\e900"
icon-instagram = "\e901"
icon-brand = "\e901"
icon-social = "\e901"
icon-twitter = "\e902"
icon-brand2 = "\e902"
icon-tweet = "\e902"
icon-social2 = "\e902"
icon-facebook = "\e903"
icon-brand3 = "\e903"
icon-social3 = "\e903"
icon-menu = "\e904"
