//------------------------------\\
            // MAIN \\
//------------------------------//

/**
 * Helpers        Styles for project structure
 * Base           Styles for default behavior and OOCSS
 * Vendor         Third-party styles and libraries
 * Layout         Grid system and screen behaviors
 * Modules        Reusable behaviors
 * Modules        States that may have the project
 * Theme          Styles related to the project theme
 */

// ------- Helpers ------- \\

@import 'helpers/*'

// ------- Base ------- \\

@import 'base/*'

// ------- Vendor ------- \\

@import 'vendor/normalize'

// ------- Vendor ------- \\

// @import 'modules/*'

// ------- Layout ------- \\

// @import 'layout/grids/grid'
//
// @import 'layout/titles/title'
// @import 'layout/wrappers/wrapper'

// ------- Theme ------- \\

@import 'theme/icons'
@import 'theme/header'
