doctype html
html
    head
        - var title = 'Ambient Light API'
        include ../modules/general/base/head
        
    bodygs
        
        include ../modules/general/header/header
        
        include ../modules/sidebar/sidebar
        
        include ../modules/content/content
